@import "tailwindcss";

:root {
  font-family: 'ShortStack';
}


@font-face {
  font-family: 'ShortStack';
  src: url("./assets/ShortStack-Regular.otf");
}

body {
  display: flex;
  width: 100%;
  min-height: 100svh;
  color: rgb(60, 60, 60);
  background-color: rgb(248, 211, 200);
  justify-content: center;
  align-items: center;
}

.mail img {
  margin-top: -200px;
}

.mail-hover {
  animation: shake .2s infinite;
}

@keyframes shake {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

.heart {
  position: absolute;
  transform: translateY(65%);
  animation: flyup 3s forwards;
}

@keyframes flyup {
  100% {
    transform: translateY(-400%);
  }
}
